header {
      text-align: center;
      background: url('http://www.mikereyfman.com/Photography-Landscape-Nature/Palouse-Eastern-Washington-American-Tuscany/photos/MR0130.jpg');
    border-bottom: 5px solid #222;
      background-size: cover;
      color: white;
    }
article {
  font-size: 32px;
}

img {
  width: 15%;
  border: 7px solid white;
  border-radius: 20px;
  background-color: rgba(225, 225, 225, 0.8);
}

#headerH1 {
  font-family: 'Holtwood One SC', serif;
}
.postTitles{
    margin-top: 40px;
    margin-left: 10px;
}
#tweets{
    margin-top: 40px;
    border-left: 2px solid #222;
}
#articlebody{
    margin-left: 20px;
}
h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {

}

p {
  color: black;
  font-family: 'helvetica', sans-serif;
  font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 10px;
}
footer {
    padding: 20px 0;
    background-color: black;
}

footer p {
    margin: 0;
    font-size: 12px;
    text-align: left;
}

footer a{
   color: green;
}
